footer {
    width: 100%;
    height: 60px;
    background-color: #575656;
    text-align: center;
    font-family: Venn;
    color: $branco;
    position: absolute;
    bottom: 0;
}

.footer_texto {
    margin-top: 22px;
}
