footer {
    width: 100%;
    height: 60px;
    background-color: $cinza-escuro;
    text-align: center;
    font-family: Venn;
    color: $cinza-claro;
    margin-top: 100px;
    position: absolute;
    bottom: 0;
}

.footer_texto {
    margin-top: 22px;
}
