.form_geral {
background-color: $cinza-medio;

}

.form_top {
    margin-top: 30px;
    text-align: center;
    
}

.form_ind {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Venn;
    font-weight: bold;
    text-align: left;
    input{
        height: 30px;
        width: 100%;
        border: none;
        margin-top: 10px;
        background-color: $cinza-claro;
    }
    textarea {
        width: 100%;
        height: 90px;
        border: none;
        margin-top: 10px;
        font-family: Venn;
        font-size: 18px;
        background-color: $cinza-claro;
    }
}

.form_ind {
    select {
        width: 100%;
        height: 30px;
        margin-top: 10px;
        font-family: Venn;
        font-size: 16px;
        border: 1px solid $cinza-medio;
        background-color: $cinza-claro;
    }
}

.botao{
    margin-top: 60px;
}


.btn {
    border: 3px solid $cinza-escuro;
    border-radius: 1em;
    background: $cinza-escuro;
    padding: 10px 30px;
    color: $cinza-claro;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    margin-bottom: 10px;
}


