header {
    background-color:#343A40;
    padding: 10px 0px;
}

.menu {
    display: flex;
    
    li{
        margin-left: 10px;
        padding-top: 22px;
        font-family: Venn;
         
    }
    a {
        text-decoration: none;
        color: #ffffff;
        padding-left: 15px;   
    }
}

.menu_logo {
    height: 60px;
   
}