header {
    background-color: $cinza-escuro;
    padding: 10px 0px;
}

.menu {
    display: flex;
    
    li{
        margin-left: 10px;
        padding-top: 22px;
        font-family: Venn;
         
    }
    a {
        text-decoration: none;
        color: $cinza-claro;
        padding-left: 15px;   
    }
}

.menu_logo {
    height: 60px; 
}

.sessao {
    text-align: right;
    margin-top: 20px;
    img {
        width: 25px;
        height: 25px;
    }
}

