.painel {
    background-color: $cinza-claro;
    height: 70px;
    display: inline-block;
    margin-top: 60px;
    border-radius: 10px;
    img {
        margin-top: 17px;
        width: 32px;
        height: 32px; 
    }
}

.painel:hover {
    background-color: $cinza-medio;
}

.painel_texto {
    text-align: left;
    margin-top: 18px;
    font-family: Venn;
    p{
        color: $cinza-escuro;
        font-weight: bold;
    }
    
}
 .painel_geral {
     a  {
         text-decoration: none;
     }
 }

 .sessao {
     text-align: right;
     margin-top: 20px;
     img {
         width: 20px;
         height: 20px;
     }
 }