.painel {
    background-color: #F2F4F6;
    height: 70px;
    display: inline-block;
    margin-top: 60px;
    border: solid 1px #343A40;
    img {
        margin-top: 20px;
        width: 32px;
        height: 32px;
    }
}

.painel:hover {
    background-color:#A4A4A4;
}

.painel_texto {
    text-align: left;
    margin-top: 18px;
    font-family: Venn;
    p{
        color: #343A40;
    }
    
}