.tabela_geral {
margin-top: 60px;

}

.tabela {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family: Venn; 
    
    
    
    th {
        padding: 10px 0px;
        font-weight: bold;
        text-transform: uppercase;
        background-color: $cinza-escuro;
        color: $cinza-claro ;
        
    }
    td {
        border: 2px 1px 2px 2px solid $cinza-escuro;
        padding: 15px 0px;
        a {
            text-decoration: none;
            color: $cinza-escuro;
            font-size: 16px;
            font-weight: bold;
        }
    }
}


table {
    tr:nth-child(even) {background: $cinza-medio}
    
}