.tabela_geral {
background-color: #F2F4F6;
margin-top: 60px;

}

.tabela {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    border: solid 2px $cinza-escuro;
    font-family: Venn;
    th {
        padding: 10px 0px;
        border: solid 2px $cinza-escuro;
        font-weight: bold;
        text-transform: uppercase;
        background-color: $cinza-escuro;
        color: $cinza-claro ;
        
    }
    td {
        border: solid 2px $cinza-escuro;
        padding: 30px 0px;
    }
}