/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid-1 {
  width: calc(6.25% - 20px);
}

.grid-2 {
  width: calc(12.5% - 20px);
}

.grid-3 {
  width: calc(18.75% - 20px);
}

.grid-4 {
  width: calc(25% - 20px);
}

.grid-5 {
  width: calc(31.25% - 20px);
}

.grid-6 {
  width: calc(37.5% - 20px);
}

.grid-7 {
  width: calc(43.75% - 20px);
}

.grid-8 {
  width: calc(50% - 20px);
}

.grid-9 {
  width: calc(56.25% - 20px);
}

.grid-10 {
  width: calc(62.5% - 20px);
}

.grid-11 {
  width: calc(68.75% - 20px);
}

.grid-12 {
  width: calc(75% - 20px);
}

.grid-13 {
  width: calc(81.25% - 20px);
}

.grid-14 {
  width: calc(87.5% - 20px);
}

.grid-15 {
  width: calc(93.75% - 20px);
}

.grid-16 {
  width: calc(100% - 20px);
}

[class^="grid-"] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 759px) {
  [class^="grid-"] {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.offset-1 {
  margin-left: calc(6.25% + 10px);
}

.offset-2 {
  margin-left: calc(12.5% + 10px);
}

.offset-3 {
  margin-left: calc(18.75% + 10px);
}

.offset-4 {
  margin-left: calc(25% + 10px);
}

.offset-5 {
  margin-left: calc(31.25% + 10px);
}

.offset-6 {
  margin-left: calc(37.5% + 10px);
}

.offset-7 {
  margin-left: calc(43.75% + 10px);
}

.offset-8 {
  margin-left: calc(50% + 10px);
}

.offset-9 {
  margin-left: calc(56.25% + 10px);
}

.offset-10 {
  margin-left: calc(62.5% + 10px);
}

.offset-11 {
  margin-left: calc(68.75% + 10px);
}

.offset-12 {
  margin-left: calc(75% + 10px);
}

.offset-13 {
  margin-left: calc(81.25% + 10px);
}

.offset-14 {
  margin-left: calc(87.5% + 10px);
}

.offset-15 {
  margin-left: calc(93.75% + 10px);
}

.offset-16 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 759px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12, .offset-13, .offset-14, .offset-15, .offset-16 {
    margin-left: 0px;
  }
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .container {
    max-width: 760px;
  }
}

@media screen and (max-width: 759px) {
  .container {
    max-width: 480px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container::after, .container::before {
  content: "";
  display: table;
  clear: both;
}

.row {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}

@media screen and (max-width: 759px) {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.row::after, .row::before {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-family: Venn;
  src: url(../font/venn-lt);
}

header {
  background-color: #2D4F8D;
  padding: 10px 0px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu li {
  margin-left: 10px;
  padding-top: 22px;
  font-family: Venn;
}

.menu a {
  text-decoration: none;
  color: #f2f4f7;
  padding-left: 15px;
}

.menu_logo {
  height: 60px;
}

.sessao {
  text-align: right;
  margin-top: 20px;
}

.sessao img {
  width: 25px;
  height: 25px;
}

.titulo {
  margin-top: 100px;
  font-weight: bold;
  text-transform: uppercase;
}

.titulo h1 {
  font-size: 48px;
  text-align: center;
  font-family: Venn;
  color: #2D4F8D;
}

.titulo_modal {
  font-weight: bold;
  text-transform: uppercase;
}

.titulo_modal h1 {
  font-size: 24px;
  text-align: center;
  font-family: Venn;
  color: #2D4F8D;
}

.painel {
  background-color: #f2f4f7;
  height: 70px;
  display: inline-block;
  margin-top: 60px;
  border-radius: 10px;
}

.painel img {
  margin-top: 17px;
  width: 32px;
  height: 32px;
}

.painel:hover {
  background-color: #DEDEDE;
}

.painel_texto {
  text-align: left;
  margin-top: 18px;
  font-family: Venn;
}

.painel_texto p {
  color: #2D4F8D;
  font-weight: bold;
}

.painel_geral a {
  text-decoration: none;
}

.form_top {
  margin-top: 30px;
  text-align: center;
}

.form_ind {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Venn;
  font-weight: bold;
  text-align: left;
}

.form_ind input {
  height: 40px;
  width: 100%;
  border: none;
  margin-top: 10px;
  border-bottom: 1px solid #2D4F8D;
  font-family: Venn;
  font-size: 16px;
}

.form_ind textarea {
  width: 100%;
  height: 110px;
  border: none;
  margin-top: 10px;
  font-family: Venn;
  font-size: 18px;
  border: 1px solid #2D4F8D;
}

.form_ind select {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  font-family: Venn;
  font-size: 16px;
  border: 2px solid #ffff;
  border-bottom: 1px solid #2D4F8D;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-overflow: '';
}

.form_ind select option {
  border: none;
}

label {
  color: #2D4F8D;
}

.botao {
  margin-top: 60px;
}

.btn {
  border: 3px solid #2D4F8D;
  border-radius: 10px;
  background: #2D4F8D;
  padding: 10px 30px;
  color: #f2f4f7;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
  margin-bottom: 10px;
}

.form_anexo {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Venn;
  font-weight: bold;
  text-align: left;
}

.form_anexo input {
  height: 40px;
  width: 100%;
  border: none;
  margin-top: 10px;
  font-family: Venn;
  font-size: 16px;
  margin-top: 10px;
}

.tabela_geral {
  margin-top: 60px;
}

.tabela {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-family: Venn;
}

.tabela th {
  padding: 10px 0px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #2D4F8D;
  color: #f2f4f7;
}

.tabela td {
  border: 2px 1px 2px 2px solid #2D4F8D;
  padding: 15px 0px;
}

.tabela td a {
  text-decoration: none;
  color: #2D4F8D;
  font-size: 16px;
  font-weight: bold;
}

table tr:nth-child(even) {
  background: #DEDEDE;
  border: 2px solid #2D4F8D;
}

table tr:nth-child(odd) {
  border: 2px solid #2D4F8D;
}

.color1 {
  margin-top: 60px;
}

.color2 {
  margin-top: 50px;
  height: 273px;
}

.color1 {
  text-align: left;
}

.color1 img {
  width: 50%;
  height: 200px;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 50%;
  border: solid 2px #f2f4f7;
  background-color: #DEDEDE;
}

.botao_perfil {
  margin-top: 20px;
}

.form_perfil {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Venn;
  font-weight: bold;
  text-align: left;
}

.form_perfil input {
  height: 40px;
  width: 100%;
  border: none;
  margin-top: 10px;
  font-family: Venn;
  font-size: 16px;
  border-bottom: 1px solid #2D4F8D;
}

.form_perfil textarea {
  width: 100%;
  height: 110px;
  border: none;
  margin-top: 10px;
  font-family: Venn;
  font-size: 18px;
  background-color: #DEDEDE;
  border-radius: 10px;
}

.form_perfil select {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  font-family: Venn;
  font-size: 16px;
  border: 1px solid #ffff;
  background-color: #DEDEDE;
  color: #757575;
  border-radius: 10px;
}

label {
  color: #2D4F8D;
}

.btn_perfil {
  border: 1px solid #fff;
  border-bottom: 1px solid #2D4F8D;
  background-color: #2D4F8D;
  color: #f2f4f7;
  font-family: Venn;
  font-size: 14px;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  margin-top: 25px;
}

.form_perfil P {
  border-bottom: 1px solid #2D4F8D;
  padding: 16px 0px;
}

.bug {
  text-align: center;
  margin-top: 40px;
  font-family: Venn;
  line-height: 1.5em;
}

.btn_bug {
  text-align: center;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #2D4F8D;
  text-align: center;
  font-family: Venn;
  color: #f2f4f7;
  margin-top: 100px;
  display: inline-block;
  position: fixed;
  bottom: 0;
}

.footer_texto {
  margin-top: 22px;
}

.footer_form {
  margin-top: 200px;
  width: 100%;
  text-align: center;
  height: 60px;
  background-color: #2D4F8D;
  color: #f2f4f7;
  font-family: Venn;
}

#teste {
  background-color: #DEDEDE;
}

.borda {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 1200px;
  height: 800px;
  background-color: #ffff;
}

.bg_form {
  background-color: #ffff;
  text-align: center;
}

.bg_form img {
  width: 400px;
  margin-top: 180px;
  margin-bottom: 40px;
}

.bg_foto {
  height: 100%;
}

.bg_foto img {
  width: 740px;
  height: 800px;
}

.form_menu {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Venn;
  font-weight: bold;
  text-align: left;
}

.form_menu input {
  height: 30px;
  width: 100%;
  border: none;
  margin-top: 10px;
  font-family: Venn;
  font-size: 16px;
  border-bottom: solid 1px #2D4F8D;
}

label {
  color: #2D4F8D;
}

.btn_menu {
  border: 3px solid #2D4F8D;
  border-radius: 10px;
  background: #2D4F8D;
  color: #f2f4f7;
  font-family: Venn;
  font-size: 14px;
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  margin-top: 10px;
}

.titulo_menu {
  font-family: Venn;
  color: #2D4F8D;
  font-weight: bold;
}

.caixa {
  text-transform: uppercase;
}

#modal {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  width: 100%;
  margin-top: 15px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

#modal:target {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background: #f7f7f7;
  position: relative;
  z-index: 20;
  padding: 15px;
  border-radius: 10px;
}

.cf {
  text-align: right;
  font-size: 14px;
  color: #2D4F8D;
}

#modal .overlay {
  background-color: #000;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
/*# sourceMappingURL=style.css.map */