/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid-1 {
  width: calc(6.25% - 20px);
}

.grid-2 {
  width: calc(12.5% - 20px);
}

.grid-3 {
  width: calc(18.75% - 20px);
}

.grid-4 {
  width: calc(25% - 20px);
}

.grid-5 {
  width: calc(31.25% - 20px);
}

.grid-6 {
  width: calc(37.5% - 20px);
}

.grid-7 {
  width: calc(43.75% - 20px);
}

.grid-8 {
  width: calc(50% - 20px);
}

.grid-9 {
  width: calc(56.25% - 20px);
}

.grid-10 {
  width: calc(62.5% - 20px);
}

.grid-11 {
  width: calc(68.75% - 20px);
}

.grid-12 {
  width: calc(75% - 20px);
}

.grid-13 {
  width: calc(81.25% - 20px);
}

.grid-14 {
  width: calc(87.5% - 20px);
}

.grid-15 {
  width: calc(93.75% - 20px);
}

.grid-16 {
  width: calc(100% - 20px);
}

[class^="grid-"] {
  float: left;
  min-height: 1px;
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 759px) {
  [class^="grid-"] {
    width: 100%;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.offset-1 {
  margin-left: calc(6.25% + 10px);
}

.offset-2 {
  margin-left: calc(12.5% + 10px);
}

.offset-3 {
  margin-left: calc(18.75% + 10px);
}

.offset-4 {
  margin-left: calc(25% + 10px);
}

.offset-5 {
  margin-left: calc(31.25% + 10px);
}

.offset-6 {
  margin-left: calc(37.5% + 10px);
}

.offset-7 {
  margin-left: calc(43.75% + 10px);
}

.offset-8 {
  margin-left: calc(50% + 10px);
}

.offset-9 {
  margin-left: calc(56.25% + 10px);
}

.offset-10 {
  margin-left: calc(62.5% + 10px);
}

.offset-11 {
  margin-left: calc(68.75% + 10px);
}

.offset-12 {
  margin-left: calc(75% + 10px);
}

.offset-13 {
  margin-left: calc(81.25% + 10px);
}

.offset-14 {
  margin-left: calc(87.5% + 10px);
}

.offset-15 {
  margin-left: calc(93.75% + 10px);
}

.offset-16 {
  margin-left: calc(100% + 10px);
}

@media screen and (max-width: 759px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12, .offset-13, .offset-14, .offset-15, .offset-16 {
    margin-left: 0px;
  }
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .container {
    max-width: 760px;
  }
}

@media screen and (max-width: 759px) {
  .container {
    max-width: 480px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container::after, .container::before {
  content: "";
  display: table;
  clear: both;
}

.row {
  position: relative;
  margin-left: -10px;
  margin-right: -10px;
}

@media screen and (max-width: 759px) {
  .row {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.row::after, .row::before {
  content: "";
  display: table;
  clear: both;
}

@font-face {
  font-family: Venn;
  src: url(../font/venn-lt);
}

header {
  background-color: #343A40;
  padding: 10px 0px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu li {
  margin-left: 10px;
  padding-top: 22px;
  font-family: Venn;
}

.menu a {
  text-decoration: none;
  color: #f2f4f7;
  padding-left: 15px;
}

.menu_logo {
  height: 60px;
}

.titulo {
  margin-top: 100px;
}

.titulo h1 {
  font-size: 64px;
  text-align: center;
  font-weight: bold;
  font-family: Venn;
  color: #343A40;
  font-weight: bold;
}

.painel {
  background-color: #f2f4f7;
  height: 70px;
  display: inline-block;
  margin-top: 60px;
}

.painel img {
  margin-top: 17px;
  width: 32px;
  height: 32px;
}

.painel:hover {
  background-color: #DEDEDE;
}

.painel_texto {
  text-align: left;
  margin-top: 18px;
  font-family: Venn;
}

.painel_texto p {
  color: #343A40;
  font-weight: bold;
}

.painel_geral a {
  text-decoration: none;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #343A40;
  text-align: center;
  font-family: Venn;
  color: #f2f4f7;
  margin-top: 100px;
  position: absolute;
  bottom: 0;
}

.footer_texto {
  margin-top: 22px;
}

.form_geral {
  margin-top: 60px;
  text-align: center;
  background-color: #F2F4F6;
}

.form_ind {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Venn;
  font-weight: bold;
  text-align: left;
}

.form_ind input {
  height: 30px;
  width: 100%;
  border: solid 1px gray;
  margin-top: 10px;
}

.form_ind textarea {
  width: 100%;
  height: 90px;
  border: solid 1px gray;
  margin-top: 10px;
  font-family: Venn;
  font-size: 18px;
}

.form_ind select {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  font-family: Venn;
  font-size: 16px;
}

.botao {
  margin-top: 60px;
}

.btn {
  border: 3px solid #343A40;
  border-radius: 1em;
  background: #343A40;
  padding: 10px 30px;
  color: #f2f4f7;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .1em;
  margin-bottom: 10px;
}

.tabela_geral {
  background-color: #F2F4F6;
  margin-top: 60px;
}

.tabela {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  border: solid 2px #343A40;
  font-family: Venn;
}

.tabela th {
  padding: 10px 0px;
  border: solid 2px #343A40;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #343A40;
  color: #f2f4f7;
}

.tabela td {
  border: solid 2px #343A40;
  padding: 5px 0px;
}
/*# sourceMappingURL=style.css.map */