<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <title>Reportar Problemas - Cybernet</title>
</head>
<body>
    
    <header>
        <div class="container">
            <div class="grid-4">
               <a href="painel.php"><img class="menu_logo" src="../../img/logo.svg" alt=""></a> 
            </div>
            <div class="grid-12">
            <div class="sessao">
            <a href="../../controller/logout.php"><img class="menu_logo" src="../../img/logout.png" alt=""></a> 
               </div>
            </div>
        </div>
        
    </header>

    </header>

    <section>
        <div class="container ">
            <div class="titulo">
            <h1>AJUDA</h1>
        </div>
        </div>
    </section>
   
    <section>
        <div class="container bg_bug">
            <div class="grid-16 bug">
                <h1>
                    Reporte abaixo os erros e bugs apresentados. Abaixo segue nossos contatos para maiores informações.<br>
                </h1>
                    <p>redes@cybernetprovedor.com</p>
                    <p>2020 - CYBERNET PROVEDOR </p>
            </div>
            
            <div class="grid-16 form_bug">
                
                <form action="">
            
                    <div class="grid-16 form_ind">
                    <label for="fname">Empresa:</label><br>    
                    <input type="text">
                    </div>

                    <div class="grid-16 form_anexo">
                        <label for="fname">Anexo:</label><br>    
                        <input type="file">
                    </div>
        
                    <div class="grid-16 form_ind">
                        <label for="fname">Mensagem:</label><br>    
                    <textarea type="textarea"></textarea>
                    </div>
                </form>
                <div class="grid-16 btn_bug">
                <button type="button" class="btn">Enviar</button>
                </div>

            </div>
        </div>
    </section>

    <section class="footer_form">
        <div class="container">
        <div class="grid-16 footer_texto">
            <h1>Copyright © Cybernet Provedor 2020</h1>
        </div>
        </div>
    </section>

</body>
</html>
