<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Reportar Problemas - Cybernet</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="grid-4">
                <a href="../index.html"><img class="menu_logo" src="../img/logo.png" alt=""></a> 
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="titulo">
            <h1>HELP</h1>
        </div>
        </div>
    </section>
   
    

    <footer>
        <div class="container">
        <div class="grid-16 footer_texto">
            <h1>Copyright © Cybernet Provedor 2020</h1>
        </div>
        </div>
    </footer>

</body>
</html>
