<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Reportar Problemas - Cybernet</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="grid-4">
                <a href="../index.html"><img class="menu_logo" src="../img/logo.png" alt=""></a> 
            </div>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="titulo">
            <h1>HELP</h1>
        </div>
        </div>
    </section>
   
    <section>
        <div class="container">
            <div class="grid-16 bug">
                <h1>
                    Reporte abaixo os erros apresentados.
                </h1>
                    <p>redes@cybernetprovedor.com</p>
                    <p>2020 - CYBERNET PROVEDOR </p>
            </div>
            
            <div class="grid-16">
                
                <form action="">
            
                    <div class="grid-8 form_ind">
                    <label for="fname">Empresa:</label><br>    
                    <input type="text">
                    </div>

                    <div class="grid-8 form_ind">
                        <label for="fname">Empresa:</label><br>    
                        <input class="cu" type="file">
                    </div>
        
                    <div class="grid-16 form_ind">
                        <label for="fname">Mensagem:</label><br>    
                        <textarea type="textarea"></textarea>

                    </form>
            </div>
        
        </div>
    </section>

    <footer>
        <div class="container">
        <div class="grid-16 footer_texto">
            <h1>Copyright © Cybernet Provedor 2020</h1>
        </div>
        </div>
    </footer>

</body>
</html>
