<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Novo chamado - Cybernet</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="grid-4">
                <a href="painel.html"><img class="menu_logo" src="../img/logo.png" alt=""></a> 
            </div>
        </div>
    </header>

    <main class="bg">
    <section>
        <div class="container">
            <div class="titulo">
            <h1>NOVO CHAMADO</h1>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="form_geral">
            <div class="form_top grid-16">
                <form action="">
            
                    <div class="grid-8 form_ind">
                    <label for="fname">Empresa:</label><br>    
                    <input type="text">
                    </div>
        
                    <div class="grid-8 form_ind">
                    <label for="fname">Responsável:</label><br>    
                    <input type="text">
                    </div>
        
                    <div class="grid-8 form_ind">
                    <label for="fname">E-mail:</label><br>    
                    <input type="text">
                    </div>
        
                    <div class="grid-8 form_ind">
                    <label for="name">Prioridade:</label><br>    
                    <select>
                        <option value="">Selecione...</option>
                        <option value="Ótimo">Baixa TESTE  </option>
                        <option value="Bom">Média</option>
                        <option value="Regular">Alta</option>
                    </select>
                    </div>
                        
                    <div class="grid-16 form_ind">
                    <label for="fname">Assunto:</label><br>    
                    <input type="text">
                    </div>
                    
                    <div class="grid-16 form_ind">
                    <label for="fname">Mensagem:</label><br>    
                    <textarea type="textarea"></textarea>
        
                    </div>
        
                    <button type="button" class="btn">Solicitar</button>&nbsp
        
                    </form>
            </div>
        </div>
    </div>
    </section>
    


    <section class="footer_form">
        <div class="container">
        <div class="grid-16 footer_texto">
            <h1>Copyright © Cybernet Provedor 2020</h1>
        </div>
        </div>
    </section>
</main>
</body>
</html>
