<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Chamado Completo - Cybernet</title>
</head>
<body>
    
    <header>
        <div class="container">
            <div class="grid-4">
               <a href="painel.php"><img class="menu_logo" src="../img/logo.svg" alt=""></a> 
            </div>
            <div class="grid-12">
            <div class="sessao">
            <a href="../controller/logout.php"><img class="menu_logo" src="../img/logout.png" alt=""></a> 
               </div>
            </div>
        </div>  
    </header>

        <section>
            <div class="container ">
                <div class="titulo">
                    <h1>Descrição completa</h1>
                </div>
                </div>
        </section>

        <section>
            <div class="container">
                <div class="grid-10 titulo_chamado">
                    <div>
                    <h1>Número do chamado</h1>
                    <p>Contato: </p>
                    </div>

                    <div>
                        <table>
                            <p>
                                Mensagem rtertertttr ere ter tre tertertre e ertert e rtert ertertert ert ert ert ert ert ert ert erter werwqwwerwerqwwrre e rtetwretq qwerqwer tyryrtywqe aaadfdf fafdfsdf sdfsdafdsfasdfasd adsfadfsadfdasfa sadfdfsadf dfafafdda dfs dafdasf adfadfdf dfadfasdfadf adfadfadfd.
                            </p>
                        </table>
                    </div>

                </div>

                <div class="grid-6 titulo_chamado">
                    <div>
                    <h1>Número do chamado</h1>
                        <p>Contato: </p>
                    </div>
                </div>
            </div>  
        </section>

        <section class="footer_form">
            <div class="container">
            <div class="grid-16 footer_texto">
                <h1>Copyright © Cybernet Provedor 2020</h1>
            </div>
            </div>
        </section>

</body>
</html>